@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  text-decoration: none;
  color: #000000;
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

ul {
  list-style-type: none;
}

body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.l-header {
  width: 100%;
  height: 54px;
  background-color: #E9F2F4;
  position: fixed;
  z-index: 1000;
}
@media (min-width: 1412px) {
  .l-header {
    height: 92px;
    position: inherit;
  }
}

.l-main {
  width: 100%;
  padding-top: 54px;
}
@media (min-width: 1412px) {
  .l-main {
    padding-top: 0;
  }
}

.l-footer {
  width: 100%;
}

.p-header {
  height: 100%;
  position: relative;
}
@media (min-width: 1412px) {
  .p-header {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 20;
  }
}
.p-header__title-logo {
  margin: 0 0 0 20px;
}
@media (min-width: 1412px) {
  .p-header__title-logo {
    margin: 18px 5px 0 140px;
  }
}
.p-header__title-logo a img {
  height: 56px;
  width: auto;
}
@media (min-width: 1412px) {
  .p-header__title-logo a img {
    height: inherit;
    width: inherit;
  }
}
.p-header__nav-res {
  display: none;
  background-color: #E9F2F4;
  position: absolute;
  top: 54px;
  width: 100%;
  text-align: center;
  z-index: 5;
}
@media (min-width: 1412px) {
  .p-header__nav-res {
    display: none;
  }
}
.p-header__nav-res .p-header__nav-box {
  background-color: #E9F2F4;
}
@media (min-width: 1412px) {
  .p-header__nav-res .p-header__nav-box {
    display: none;
  }
}
.p-header__nav-res .p-header__nav-box .p-header__nav-list {
  margin: 20px 0;
}
@media (min-width: 1412px) {
  .p-header__nav-res .p-header__nav-box .p-header__nav-list {
    display: none;
  }
}
.p-header__nav-res .p-header__nav-box .p-header__nav-list a {
  font-size: 18px;
}
.p-header__nav-res .p-header__nav-box .p-header__nav-list:nth-child(1) {
  margin-top: 60px;
}
@media (min-width: 1412px) {
  .p-header__nav-res .p-header__nav-box .p-header__nav-list:nth-child(1) {
    margin-top: 0;
  }
}
.p-header__nav-res .p-header__nav-box .p-header__nav-list:nth-child(5) {
  margin-bottom: 60px;
}
@media (min-width: 1412px) {
  .p-header__nav-res .p-header__nav-box .p-header__nav-list:nth-child(5) {
    margin-bottom: 0;
  }
}
.p-header__nav-pc {
  display: none;
}
@media (min-width: 1412px) {
  .p-header__nav-pc {
    display: block;
  }
}
.p-header__nav-pc .p-header__nav-box {
  background-color: #E9F2F4;
}
@media (min-width: 1412px) {
  .p-header__nav-pc .p-header__nav-box {
    display: flex;
    margin: 54px 0 0 0;
  }
}
@media (min-width: 1412px) {
  .p-header__nav-pc .p-header__nav-box .p-header__nav-list {
    margin: 0 35px;
  }
}
.p-header__nav-pc .p-header__nav-box .p-header__nav-list a {
  font-size: 18px;
}
.p-header__nav-pc .separation {
  position: relative;
}
.p-header__nav-pc .separation::before {
  display: none;
}
@media (min-width: 1412px) {
  .p-header__nav-pc .separation::before {
    content: "";
    display: block;
    width: 1.5px;
    height: 46px;
    background-color: #000000;
    position: absolute;
    top: -9px;
    left: -35px;
  }
}
.p-header__tell-box {
  display: none;
  font-family: "Hiragino Kaku Gothic Pro";
}
@media (min-width: 1412px) {
  .p-header__tell-box {
    display: block;
    margin-left: 5px;
  }
}
.p-header__tell-box .tell-number {
  display: inline-block;
  border-radius: 10px;
  background-color: #EEC4BD;
  padding: 9px 53px;
  margin: 25px 140px 8px 0;
  font-size: 20px;
  letter-spacing: 0.04em;
}
@media (min-width: 1412px) {
  .p-header__tell-box .tell-number {
    font-size: 15px;
  }
}
.p-header__tell-box .tell-number .fa-phone-alt {
  font-family: "Font Awesome 5 Free";
  content: "\f879";
  font-weight: 900;
  color: #000;
  margin-right: 8px;
}
.p-header__tell-box .business-hours {
  font-size: 18px;
  margin-left: 15px;
  letter-spacing: 0.04em;
}
.p-header__tell-box .business-hours .fa-clock {
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  font-weight: 900;
  color: #000000;
  margin-right: 8px;
}

.p-main {
  width: 100%;
}
.p-main__top-visual {
  background-image: url(/images/Rectangle\ 2.png);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 471px;
  width: 100%;
  z-index: 10;
}
@media (min-width: 1412px) {
  .p-main__top-visual {
    height: 760px;
    background-position: inherit;
  }
}
.p-main__top-visual .p-main__top-text {
  font-size: 25px;
  line-height: 35px;
  color: #188FA9;
  font-weight: normal;
  float: right;
  margin-top: 50px;
}
@media (min-width: 600px) {
  .p-main__top-visual .p-main__top-text {
    margin: 100px 40px 0 0;
    font-size: 28px;
  }
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-text {
    position: absolute;
    float: none;
    top: 395px;
    left: 180px;
    font-size: 35px;
    line-height: 56px;
    margin-top: 0;
  }
}
.p-main__top-visual .p-main__top-text span {
  font-size: 20px;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-text span {
    font-size: 30px;
  }
}
@media (min-width: 600px) {
  .p-main__top-visual .p-main__top-text .br-sp {
    display: none;
  }
}
.p-main__top-visual .p-main__top-table {
  width: 90%;
  margin: 0 auto;
  padding-top: 400px;
  position: relative;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table {
    position: absolute;
    padding-top: 0;
    margin: 0;
    width: inherit;
    top: 552px;
    left: 152px;
  }
}
.p-main__top-visual .p-main__top-table table {
  border-spacing: 0;
  font-weight: normal;
  font-size: 14px;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table table {
    font-size: 16px;
  }
}
.p-main__top-visual .p-main__top-table table .reception-time {
  height: 42px;
  background-color: #51A8BB;
  color: #FEFEFE;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table table .reception-time {
    height: 56px;
  }
}
.p-main__top-visual .p-main__top-table table .reception-time .space {
  width: 125px;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table table .reception-time .space {
    width: 150px;
  }
}
.p-main__top-visual .p-main__top-table table .reception-time th {
  width: 50px;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table table .reception-time th {
    width: 60px;
  }
}
.p-main__top-visual .p-main__top-table table .business-hours {
  color: #000000;
  background-color: #FEFEFE;
  height: 42px;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table table .business-hours {
    height: 56px;
  }
}
.p-main__top-visual .p-main__top-table table .business-hours .space {
  width: 100px;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table table .business-hours .space {
    width: 150px;
  }
}
.p-main__top-visual .p-main__top-table table .business-hours td {
  width: 50px;
  text-align: center;
}
@media (min-width: 1412px) {
  .p-main__top-visual .p-main__top-table table .business-hours td {
    width: 60px;
  }
}
.p-main__top-visual::before {
  background-image: url(/images/Vector\ 16.png);
  background-position: top;
  background-size: contain;
  content: "";
  top: 37px;
  left: 0;
  height: 23%;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
@media (min-width: 600px) {
  .p-main__top-visual::before {
    top: 33px;
  }
}
@media (min-width: 1000px) {
  .p-main__top-visual::before {
    top: 12px;
  }
}
@media (min-width: 1200px) {
  .p-main__top-visual::before {
    top: 12px;
  }
}
@media (min-width: 1412px) {
  .p-main__top-visual::before {
    position: absolute;
    top: -43px;
  }
}
.p-main__top-visual::after {
  background-image: url(/images/Vector\ 18.png);
  background-position: bottom;
  background-size: contain;
  bottom: -13px;
  content: "";
  left: 0;
  height: 30%;
  position: absolute;
  width: 100%;
  z-index: -10;
}
@media (min-width: 600px) {
  .p-main__top-visual::after {
    background-image: url(/images/Vector\ 14.png);
    bottom: -31px;
  }
}
@media (min-width: 1000px) {
  .p-main__top-visual::after {
    bottom: -52px;
  }
}
@media (min-width: 1200px) {
  .p-main__top-visual::after {
    bottom: -70px;
  }
}
@media (min-width: 1412px) {
  .p-main__top-visual::after {
    bottom: -48px;
  }
}

.p-footer {
  width: 100%;
  background-color: #E9F2F4;
  position: relative;
  z-index: 0;
}
@media (min-width: 1412px) {
  .p-footer {
    position: relative;
  }
}
.p-footer__sub {
  margin: 0 20px;
}
@media (min-width: 600px) {
  .p-footer__sub {
    margin: 0 50px;
  }
}
@media (min-width: 1412px) {
  .p-footer__sub {
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
  }
}
.p-footer__sub .p-footer__block {
  text-align: center;
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block {
    text-align: inherit;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
.p-footer__sub .p-footer__block .p-footer__title-logo {
  margin: 0;
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__title-logo {
    margin: 18px 5px 0 140px;
  }
}
.p-footer__sub .p-footer__block .p-footer__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0 0 0;
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__nav {
    justify-content: inherit;
    flex-wrap: inherit;
    margin: 54px 0 0 0;
  }
}
.p-footer__sub .p-footer__block .p-footer__nav-list {
  margin: 0 0 55px 0;
  width: 30%;
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__nav-list {
    margin: 0 35px;
    width: inherit;
  }
}
.p-footer__sub .p-footer__block .p-footer__nav-list a {
  font-size: 14px;
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__nav-list a {
    font-size: 18px;
  }
}
.p-footer__sub .p-footer__block .p-footer__nav .p-footer__separation {
  position: relative;
}
.p-footer__sub .p-footer__block .p-footer__nav .p-footer__separation::before {
  display: none;
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__nav .p-footer__separation::before {
    content: "";
    display: block;
    width: 1.5px;
    height: 46px;
    background-color: #000000;
    position: absolute;
    top: -9px;
    left: -35px;
  }
}
.p-footer__sub .p-footer__block .p-footer__tell-box {
  font-family: "Hiragino Kaku Gothic Pro";
}
@media (min-width: 600px) {
  .p-footer__sub .p-footer__block .p-footer__tell-box {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__tell-box {
    margin-left: 5px;
    width: inherit;
  }
}
.p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__tell-number {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 0.06em;
  background-color: #EEC4BD;
  height: 50px;
  line-height: 50px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
}
@media (min-width: 600px) {
  .p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__tell-number {
    width: 45%;
    font-size: 14px;
  }
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__tell-number {
    margin: 25px 140px 19px 0;
    font-size: 15px;
    height: 48px;
    line-height: 48px;
    padding: 0 53px;
    letter-spacing: 0.04em;
    width: inherit;
    box-shadow: none;
  }
}
.p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__tell-number .fa-phone-alt {
  font-family: "Font Awesome 5 Free";
  content: "\f879";
  font-weight: 900;
  color: #000;
  margin-right: 30px;
}
@media (min-width: 600px) {
  .p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__tell-number .fa-phone-alt {
    margin-right: 10px;
  }
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__tell-number .fa-phone-alt {
    margin-right: 8px;
  }
}
.p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__business-hours {
  font-size: 14px;
  margin: 16px 0 0 0;
  padding-bottom: 26px;
}
@media (min-width: 1412px) {
  .p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__business-hours {
    font-size: 18px;
    margin: 0 0 71px 15px;
    letter-spacing: 0.04em;
    text-align: left;
    padding-bottom: 0;
  }
}
.p-footer__sub .p-footer__block .p-footer__tell-box .p-footer__business-hours .fa-clock {
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  font-weight: 900;
  color: #000000;
  margin-right: 8px;
}
.p-footer__bar {
  width: 100%;
  background-color: #51A8BB;
}
.p-footer__bar-sub {
  margin: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1412px) {
  .p-footer__bar-sub {
    max-width: 1440px;
    margin: 0 auto;
    height: 50px;
  }
}
.p-footer__bar-sub .copyright {
  color: #FEFEFE;
  font-size: 12px;
}

.p-footer::before {
  content: "";
  background-image: url(/images/Vector\ 16-footer.png);
  background-position: top;
  background-size: contain;
  height: 40%;
  width: 100%;
  top: -21px;
  left: 0;
  position: absolute;
  z-index: -10;
}
@media (min-width: 600px) {
  .p-footer::before {
    top: -50px;
  }
}
@media (min-width: 1412px) {
  .p-footer::before {
    background-size: cover;
    top: -67px;
  }
}

.p-main__feature {
  width: 100%;
  position: relative;
  z-index: -100;
  height: auto;
}
@media (min-width: 600px) {
  .p-main__feature {
    height: auto;
    padding-bottom: 50px;
  }
}
@media (min-width: 1412px) {
  .p-main__feature {
    background-size: cover;
    background-position: inherit;
    height: 867px;
    margin-top: 44px;
    padding-bottom: inherit;
  }
}
.p-main__feature .p-main__background-img {
  background-image: url(/images/Rectangle\ 13.png);
  background-size: cover;
  background-position: top;
  height: 430px;
  width: 100%;
  position: absolute;
}
@media (min-width: 600px) {
  .p-main__feature .p-main__background-img {
    background-image: url(/images/Rectangle-pc\ 13.png);
  }
}
@media (min-width: 1412px) {
  .p-main__feature .p-main__background-img {
    height: 100%;
  }
}
.p-main__feature .p-main__background-img::after {
  content: "";
  background-image: url(/images/ぼかし.png);
  background-position: top;
  background-repeat: repeat-x;
  position: absolute;
  top: 382px;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 0;
}
@media (min-width: 1412px) {
  .p-main__feature .p-main__background-img::after {
    display: none;
  }
}
.p-main__feature-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FAFAFA;
  opacity: 0.8;
}
@media (min-width: 1412px) {
  .p-main__feature-background {
    background-color: #FFFFFF;
  }
}
.p-main__feature-sub {
  text-align: center;
  margin: 0 20px;
}
@media (min-width: 600px) {
  .p-main__feature-sub {
    margin: 0 50px;
  }
}
@media (min-width: 1412px) {
  .p-main__feature-sub {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
  }
}
.p-main__feature-sub .section-feature-title {
  font-size: 22px;
  padding-top: 75px;
  text-align: center;
  margin-bottom: 53px;
  position: relative;
}
@media (min-width: 1412px) {
  .p-main__feature-sub .section-feature-title {
    padding-top: 130px;
    margin-bottom: 62px;
    font-size: 27px;
  }
}
@media (min-width: 1412px) {
  .p-main__feature-sub .p-main__feature-box {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block {
  background-color: #FFFFFF;
  width: 86%;
  margin: 0 auto 70px;
  height: 355px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
@media (min-width: 600px) {
  .p-main__feature-sub .p-main__feature-box .p-main__feature-block {
    width: 60%;
  }
}
@media (min-width: 1412px) {
  .p-main__feature-sub .p-main__feature-box .p-main__feature-block {
    width: 20%;
    margin: 0;
  }
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block .p-main__feature-block-title {
  padding-top: 50px;
  font-size: 18px;
}
@media (min-width: 1412px) {
  .p-main__feature-sub .p-main__feature-box .p-main__feature-block .p-main__feature-block-title {
    margin-top: 50px;
    padding-top: 0;
  }
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block .p-main__feature-text {
  line-height: 25px;
  margin-top: 20px;
  padding: 0 35px;
  white-space: nowrap;
  font-size: 15px;
}
@media (min-width: 1412px) {
  .p-main__feature-sub .p-main__feature-box .p-main__feature-block .p-main__feature-text {
    font-size: 1vw;
  }
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block img {
  margin-top: 20px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block:nth-child(3) {
  margin-bottom: 0;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-left {
  position: relative;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-left .p-main__number-img {
  background-image: url(/images/Vector.png);
  position: absolute;
  height: 72px;
  width: 90px;
  top: -22px;
  left: -34px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-left .p-main__number-img .p-main__number {
  position: absolute;
  top: 13px;
  left: 22px;
  font-size: 32px;
  color: #FFFFFF;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-left .p-main__number-img .p-main__mark-other-1 {
  position: absolute;
  top: -37px;
  left: -11px;
  border: 1.5px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-left .p-main__number-img .p-main__mark-other-2 {
  position: absolute;
  top: -40px;
  left: 6px;
  border: 1.5px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-center {
  position: relative;
}
@media (min-width: 1412px) {
  .p-main__feature-sub .p-main__feature-box .p-main__feature-block-center {
    margin: 0 105px;
  }
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-center .p-main__number-img {
  background-image: url(/images/Vector.png);
  position: absolute;
  height: 72px;
  width: 90px;
  top: -22px;
  left: -34px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-center .p-main__number-img .p-main__number {
  position: absolute;
  top: 13px;
  left: 22px;
  font-size: 32px;
  color: #FFFFFF;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-center .p-main__number-img .p-main__mark-other-1 {
  position: absolute;
  top: -37px;
  left: -11px;
  border: 1.5px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-center .p-main__number-img .p-main__mark-other-2 {
  position: absolute;
  top: -40px;
  left: 6px;
  border: 1.5px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-right {
  position: relative;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-right .p-main__number-img {
  background-image: url(/images/Vector.png);
  position: absolute;
  height: 72px;
  width: 90px;
  top: -22px;
  left: -34px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-right .p-main__number-img .p-main__number {
  position: absolute;
  top: 13px;
  left: 22px;
  font-size: 32px;
  color: #FFFFFF;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-right .p-main__number-img .p-main__mark-other-1 {
  position: absolute;
  top: -37px;
  left: -11px;
  border: 1.5px;
}
.p-main__feature-sub .p-main__feature-box .p-main__feature-block-right .p-main__number-img .p-main__mark-other-2 {
  position: absolute;
  top: -40px;
  left: 6px;
  border: 1.5px;
}
.p-main__feature-sub .p-main__feature-btn {
  display: inline-block;
  height: 60px;
  width: 100%;
  font-size: 14px;
  background-color: #FFFFFF;
  border: 2px solid #51A8BB;
  box-sizing: border-box;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  line-height: 60px;
  text-align: center;
  color: #51A8BB;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}
@media (min-width: 600px) {
  .p-main__feature-sub .p-main__feature-btn {
    width: 35%;
  }
}
@media (min-width: 1412px) {
  .p-main__feature-sub .p-main__feature-btn {
    margin-top: 55px;
    width: 27%;
    font-size: 16px;
    margin-bottom: 0;
  }
}

article {
  position: relative;
  z-index: 0;
}

.p-main__information {
  width: 100%;
  background-color: #E9F2F4;
  position: relative;
  z-index: -30;
}
@media (min-width: 1412px) {
  .p-main__information {
    z-index: inherit;
  }
}
.p-main__information-block {
  background-size: contain;
  height: auto;
  margin: 0 20px;
  text-align: center;
  background-image: url(/images/811926\ 1.png);
  background-position: center top 243px;
}
@media (min-width: 600px) {
  .p-main__information-block {
    margin: 0 50px;
    background-position: center top 215px;
    background-size: 40%;
  }
}
@media (min-width: 1412px) {
  .p-main__information-block {
    max-width: 1440px;
    margin: 0 auto;
    background-position: center top 12px;
    background-size: inherit;
  }
}
.p-main__information-block .section-information-title {
  padding-top: 103px;
  margin-bottom: 40px;
  font-size: 22px;
}
@media (min-width: 1412px) {
  .p-main__information-block .section-information-title {
    margin-bottom: 50px;
    padding-top: 13px;
    font-size: 27px;
  }
}
.p-main__information-block .section-information-text-top {
  line-height: 28px;
  font-size: 18px;
  padding: 0 20px;
  margin-bottom: 41px;
}
@media (min-width: 1412px) {
  .p-main__information-block .section-information-text-top {
    line-height: 36px;
    margin-bottom: 16px;
    font-size: 22px;
  }
}
.p-main__information-block img {
  width: 94%;
  height: auto;
  object-fit: cover;
  margin-bottom: 42px;
}
@media (min-width: 600px) {
  .p-main__information-block img {
    width: 40%;
  }
}
@media (min-width: 1412px) {
  .p-main__information-block img {
    width: 35%;
    margin-bottom: 85px;
  }
}
.p-main__information-block .section-information-text-bottom {
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}
@media (min-width: 600px) {
  .p-main__information-block .section-information-text-bottom {
    font-size: 16px;
    text-align: center;
  }
}
@media (min-width: 1412px) {
  .p-main__information-block .section-information-text-bottom {
    line-height: 32px;
  }
}
.p-main__information-block .section-information-text-bottom br {
  display: none;
}
.p-main__information-block .p-main__information-detail {
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #51A8BB;
  height: 60px;
  display: inline-block;
  width: 100%;
  line-height: 60px;
  box-sizing: border-box;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
  color: #51A8BB;
  margin-top: 40px;
  margin-bottom: 37px;
  font-size: 14px;
  position: relative;
  z-index: 20;
}
@media (min-width: 600px) {
  .p-main__information-block .p-main__information-detail {
    width: 35%;
  }
}
@media (min-width: 1412px) {
  .p-main__information-block .p-main__information-detail {
    width: 27%;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 16px;
  }
}
.p-main__information-block::after {
  content: "";
  background-image: url(/images/Vector\ 15.png);
  background-position: bottom;
  background-size: contain;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 30%;
  position: absolute;
  z-index: 10;
}
@media (min-width: 600px) {
  .p-main__information-block::after {
    bottom: -56px;
  }
}
@media (min-width: 1200px) {
  .p-main__information-block::after {
    bottom: -60px;
  }
}
@media (min-width: 1412px) {
  .p-main__information-block::after {
    bottom: -106px;
  }
}

.p-main__contents {
  width: 100%;
  background-color: #E9F2F4;
  position: relative;
  z-index: -100;
}
.p-main__contents-sub {
  margin: 0 20px;
  text-align: center;
  padding-bottom: 17px;
}
@media (min-width: 600px) {
  .p-main__contents-sub {
    margin: 0 50px;
  }
}
@media (min-width: 1412px) {
  .p-main__contents-sub {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
.p-main__contents-sub .section-contents-title {
  font-size: 22px;
  padding-top: 44px;
  margin-bottom: 44px;
}
@media (min-width: 1412px) {
  .p-main__contents-sub .section-contents-title {
    margin-bottom: 50px;
    padding-top: 0;
    font-size: 27px;
  }
}
.p-main__contents-sub .p-main__contents-box {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 150px;
  grid-template-rows: 287px 287px 287px 287px;
  gap: 34px;
}
@media (min-width: 600px) {
  .p-main__contents-sub .p-main__contents-box {
    grid-template-columns: 40% 40%;
    grid-template-rows: 250px 250px 250px 250px;
  }
}
@media (min-width: 1412px) {
  .p-main__contents-sub .p-main__contents-box {
    grid-template-columns: 211px 211px 211px 211px;
    grid-template-rows: 281px 281px 0;
    gap: 77px;
  }
}
.p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-circle {
  width: 150px;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 600px) {
  .p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-circle {
    margin: 0 auto;
  }
}
@media (min-width: 1412px) {
  .p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-circle {
    width: 211px;
    height: 211px;
    margin: 0 auto 20px;
  }
}
.p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-circle-inner .p-main__contents-img-title {
  color: #4B4B4B;
  font-size: 16px;
}
@media (min-width: 1412px) {
  .p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-circle-inner .p-main__contents-img-title {
    font-size: 18px;
  }
}
.p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-text {
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  margin-top: 12px;
}
@media (min-width: 600px) {
  .p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-text {
    text-align: center;
  }
}
@media (min-width: 1412px) {
  .p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-text {
    font-size: 15px;
    margin-bottom: 80px;
    margin-top: 0;
  }
}
.p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-text br {
  display: none;
}
@media (min-width: 600px) {
  .p-main__contents-sub .p-main__contents-box .p-main__contents-block .p-main__contents-text br {
    display: block;
  }
}

.p-main__contents::before {
  content: "";
  background-image: url(/images/Vector\ 14.png);
  background-position: top;
  background-size: contain;
  height: 30%;
  width: 100%;
  top: -24px;
  left: 0;
  position: absolute;
  z-index: -10;
}
@media (min-width: 600px) {
  .p-main__contents::before {
    top: -50px;
  }
}
@media (min-width: 1412px) {
  .p-main__contents::before {
    top: -100px;
  }
}

.p-main__contents::after {
  content: "";
  background-image: url(/images/Vector\ 15.png);
  background-position: bottom;
  background-size: contain;
  height: 30%;
  width: 100%;
  bottom: -22px;
  left: 0;
  position: absolute;
  z-index: -10;
}
@media (min-width: 600px) {
  .p-main__contents::after {
    bottom: -55px;
  }
}
@media (min-width: 1000px) {
  .p-main__contents::after {
    bottom: -60px;
  }
}
@media (min-width: 1412px) {
  .p-main__contents::after {
    bottom: -82px;
  }
}

.p-main__access {
  width: 100%;
  position: relative;
  z-index: 0;
}
@media (min-width: 600px) {
  .p-main__access {
    padding-bottom: 50px;
  }
}
@media (min-width: 1412px) {
  .p-main__access {
    padding-bottom: inherit;
    position: inherit;
  }
}
.p-main__access-sub {
  margin: 0 20px;
  text-align: center;
}
@media (min-width: 600px) {
  .p-main__access-sub {
    margin: 0 50px;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.p-main__access-sub .section__access-title {
  font-size: 22px;
  margin-bottom: 60px;
  padding-top: 78px;
}
@media (min-width: 1412px) {
  .p-main__access-sub .section__access-title {
    font-size: 27px;
    margin-bottom: 50px;
    padding-top: 140px;
  }
}
.p-main__access-sub .p-main__access-map-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
  height: 207px;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-map-img {
    width: 80%;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-map-img {
    height: 350px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box {
    display: flex;
    justify-content: center;
  }
}
.p-main__access-sub .p-main__access-box .p-main__access-map {
  text-align: left;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map {
    text-align: center;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map {
    text-align: left;
  }
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map-group {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map-group {
    text-align: inherit;
    width: inherit;
    margin: inherit;
  }
}
.p-main__access-sub .p-main__access-box .p-main__access-map-group img {
  width: 282px;
  height: 33px;
}
.p-main__access-sub .p-main__access-box .p-main__access-map-group .p-main__address {
  font-size: 14px;
  margin: 12px 0 25px 0;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map-group .p-main__address {
    text-align: left;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map-group .p-main__address {
    text-align: inherit;
    font-size: 16px;
    margin: 10px 0 20px 0;
  }
}
.p-main__access-sub .p-main__access-box .p-main__access-map-group .p-main__access-text {
  line-height: 25px;
  font-size: 14px;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map-group .p-main__access-text {
    text-align: left;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map-group .p-main__access-text {
    text-align: inherit;
    font-size: 16px;
    line-height: 32px;
  }
}
.p-main__access-sub .p-main__access-box .p-main__access-map a {
  width: 100%;
  height: 60px;
  background-color: #51A8BB;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  border-radius: 10px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-size: 14px;
  margin: 25px 0 55px 0;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map a {
    width: 35%;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box .p-main__access-map a {
    margin: 15px 0 93px 0;
    width: 397px;
    font-size: 16px;
  }
}
.p-main__access-sub .p-main__access-box .p-main__access-map a .fa-map-marker-alt {
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  font-weight: 900;
  color: #FFFFFF;
  margin-right: 10px;
}
.p-main__access-sub .p-main__access-box .p-main__access-table {
  display: inline-block;
  font-size: 14px;
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box .p-main__access-table {
    margin-left: 77px;
    margin-top: 12px;
    font-size: 16px;
  }
}
.p-main__access-sub .p-main__access-box .p-main__access-table table {
  border-spacing: 0;
  font-weight: normal;
}
.p-main__access-sub .p-main__access-box .p-main__access-table table .reception-time {
  background-color: #51A8BB;
  color: #FEFEFE;
  height: 56px;
}
.p-main__access-sub .p-main__access-box .p-main__access-table table .reception-time .space {
  width: 150px;
}
.p-main__access-sub .p-main__access-box .p-main__access-table table .reception-time th {
  width: 60px;
}
.p-main__access-sub .p-main__access-box .p-main__access-table table .business-hours {
  color: #000000;
  background-color: #E9F2F4;
  height: 56px;
}
.p-main__access-sub .p-main__access-box .p-main__access-table table .business-hours .space {
  width: 100px;
}
.p-main__access-sub .p-main__access-box .p-main__access-table table .business-hours td {
  width: 60px;
  text-align: center;
}
.p-main__access-sub .p-main__access-box .p-main__access-table .p-main__access-table-text {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 55px;
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-box .p-main__access-table .p-main__access-table-text {
    margin-bottom: inherit;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.p-main__access-sub .p-main__access-dentist-img {
  width: 100%;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-dentist-img {
    width: 80%;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist-img {
    width: inherit;
    margin-right: 48px;
    margin-bottom: 108px;
  }
}
.p-main__access-sub .p-main__access-dentist .p-main__access-reserve {
  margin-top: 25px;
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve {
    margin-top: 20px;
  }
}
.p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-tell-box .p-main__access-reserve-tell {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-family: "Hiragino Kaku Gothic Pro";
  background-color: #EEC4BD;
  border-radius: 10px;
  margin-bottom: 20px;
  letter-spacing: 0.06em;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-tell-box .p-main__access-reserve-tell {
    width: 45%;
    font-size: 14px;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-tell-box .p-main__access-reserve-tell {
    width: 480px;
    height: 76px;
    line-height: 76px;
    font-size: 23px;
    margin-bottom: 28px;
  }
}
.p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-tell-box .p-main__access-reserve-tell .fa-phone-alt {
  font-family: "Font Awesome 5 Free";
  content: "\f879";
  font-weight: 900;
  color: #000000;
  margin-right: 30px;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-tell-box .p-main__access-reserve-tell .fa-phone-alt {
    margin-right: 10px;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-tell-box .p-main__access-reserve-tell .fa-phone-alt {
    margin-right: 42px;
  }
}
.p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-net-box .p-main__access-reserve-net {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  background-color: #EEC4BD;
  border-radius: 10px;
  margin-bottom: 20px;
  letter-spacing: 0.06em;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-net-box .p-main__access-reserve-net {
    width: 45%;
    font-size: 14px;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-net-box .p-main__access-reserve-net {
    width: 480px;
    height: 76px;
    line-height: 76px;
    font-size: 23px;
    margin-bottom: 0;
  }
}
.p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-net-box .p-main__access-reserve-net .fa-desktop {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  color: #000000;
  margin-right: 27px;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-net-box .p-main__access-reserve-net .fa-desktop {
    margin-right: 10px;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-net-box .p-main__access-reserve-net .fa-desktop {
    margin-right: 29px;
  }
}
.p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-reserve-caution {
  margin-top: 25px;
  line-height: 25px;
  text-align: left;
  font-size: 14px;
  margin-bottom: 56px;
}
@media (min-width: 600px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-reserve-caution {
    text-align: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 1412px) {
  .p-main__access-sub .p-main__access-dentist .p-main__access-reserve .p-main__access-reserve-caution {
    text-align: inherit;
    margin-top: 28px;
    margin-bottom: 0;
    line-height: 32px;
    font-size: 16px;
  }
}

.btn {
  /* ボタンの配置位置  */
  position: fixed;
  top: 15px;
  right: 27px;
  /* ボタンの大きさ  */
  width: 36px;
  height: 36px;
  /* 最前面に */
  z-index: 10;
}
@media (min-width: 1412px) {
  .btn {
    display: none;
  }
}

/***** 真ん中のバーガー線 *****/
.btn-line {
  display: block;
  position: relative;
  /* バーガー線の位置基準として設定 */
  width: 100%;
  /* 線の長さと高さ */
  height: 4px;
  background-color: transparent;
  transition: 0.2s;
}

/****** 上下のバーガー線 *****/
.btn-line::before,
.btn-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #51A8BB;
  transition: 0.5s;
}

.btn-line::before {
  /* 上の線の位置 */
  transform: translateY(-5px);
}

.btn-line::after {
  /* 下の線の位置 */
  transform: translateY(5px);
}

/***** メニューオープン時 *****/
.btn-line.open {
  background-color: transparent;
  /* 真ん中の線を透明に */
}

.btn-line.open::before,
.btn-line.open::after {
  content: "";
  background-color: #51A8BB;
  /* 上下の線の色を変える */
  transition: 0.2s;
}

.btn-line.open::before {
  transform: rotate(45deg);
  /* 上の線を傾ける */
}

.btn-line.open::after {
  transform: rotate(-45deg);
  /* 下の線を傾ける */
}

/* ==========================================================================
   Foundation
   ========================================================================== */
/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Object
   ========================================================================== */
/* Component
   ----------------------------------------------------------------- */
/* Project
   ----------------------------------------------------------------- */
/* Utility
   ----------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
