@charset "UTF-8";
@use "../../foundation/mixin";
.p-main__contents {
    width: 100%;
    background-color: #E9F2F4;
    position: relative;
    z-index: -100;
    &-sub {
        margin: 0 20px;
        text-align: center;
        padding-bottom: 17px;
        @include mixin.tab {
            margin: 0 50px;
        }
        @include mixin.pc {
            max-width: 1440px;
            margin: 0 auto;
            padding-bottom: 0;
        }
        .section-contents-title {
            font-size: 22px;
            padding-top: 44px;
            margin-bottom: 44px;
            @include mixin.pc {
                margin-bottom: 50px;
                padding-top: 0;
                font-size: 27px;
            }
        }
        .p-main__contents-box {
            display: grid;
            justify-content: center;
            grid-template-columns: 150px 150px;
            grid-template-rows: 287px 287px 287px 287px;
            gap: 34px;
            @include mixin.tab {
                grid-template-columns: 40% 40%;
                grid-template-rows: 250px 250px 250px 250px;
            }
            @include mixin.pc {
                grid-template-columns: 211px 211px 211px 211px;
                grid-template-rows: 281px 281px 0;
                gap: 77px;
            }
            .p-main__contents-block {
                .p-main__contents-circle {
                    width: 150px;
                    height: 150px;
                    background-color: #FFFFFF;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include mixin.tab {
                        margin: 0 auto;
                    }
                    @include mixin.pc {
                        width: 211px;
                        height: 211px;
                        margin: 0 auto 20px;
                    }
                    &-inner {
                        .p-main__contents-img-title {
                            color: #4B4B4B;
                            font-size: 16px;
                            @include mixin.pc {
                                font-size: 18px;
                            }
                        }
                    }
                }
                .p-main__contents-text {
                    font-size: 14px;
                    line-height: 25px;
                    text-align: left;
                    margin-top: 12px;
                    @include mixin.tab {
                        text-align: center;
                    }
                    @include mixin.pc {
                        font-size: 15px;
                        margin-bottom: 80px;
                        margin-top: 0;
                    }
                    br {
                        display: none;
                        @include mixin.tab {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.p-main__contents::before {
    content: "";
    background-image: url(/images/Vector\ 14.png);
    background-position: top;
    background-size: contain;
    height: 30%;
    width: 100%;
    top: -24px;
    left: 0;
    position: absolute;
    z-index: -10;
    @include mixin.tab {
        top: -50px;
    }
    @include mixin.pc {
        top: -100px;
    }
}
.p-main__contents::after {
    content: "";
    background-image: url(/images/Vector\ 15.png);
    background-position: bottom;
    background-size: contain;
    height: 30%;
    width: 100%;
    bottom: -22px;
    left: 0;
    position: absolute;
    z-index: -10;
    @include mixin.tab {
        bottom: -55px;
    }
    @include mixin.mid {
        bottom: -60px;
    }
    @include mixin.pc {
        bottom: -82px;
    }
}