@charset "UTF-8";
@use "../../foundation/mixin";
.p-main__feature {
    width: 100%;
    position: relative;
    z-index: -100;
    height: auto;
    @include mixin.tab {
        height: auto;
        padding-bottom: 50px;
    }
    @include mixin.pc {
        background-size: cover;
        background-position: inherit;
        height: 867px;
        margin-top: 44px;
        padding-bottom: inherit;
    }
    .p-main__background-img {
        background-image: url(/images/Rectangle\ 13.png);
        background-size: cover;
        background-position: top;
        height: 430px;
        width: 100%;
        position: absolute;
        @include mixin.tab {
            background-image: url(/images/Rectangle-pc\ 13.png);
        }
        @include mixin.pc {
            height: 100%;
        }
    }
    .p-main__background-img::after {
        content: "";
        background-image: url(/images/ぼかし.png);
        background-position: top;
        background-repeat: repeat-x;
        position: absolute;
        top: 382px;
        left: 0;
        height: 50px;
        width: 100%;
        z-index: 0;
        @include mixin.pc {
            display: none;
        }
    }
    &-background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #FAFAFA;
        opacity: 0.8;
        @include mixin.pc {
            background-color: #FFFFFF;
        }
    }
    &-sub {
        text-align: center;
        margin: 0 20px;
        @include mixin.tab {
            margin: 0 50px;
        }
        @include mixin.pc {
            max-width: 1440px;
            margin: 0 auto;
            text-align: center;
        }
        .section-feature-title {
            font-size: 22px;
            padding-top: 75px;
            text-align: center;
            margin-bottom: 53px;
            position: relative;
            @include mixin.pc {
                padding-top: 130px;
                margin-bottom: 62px;
                font-size: 27px;
            }
        }
        .p-main__feature-box {
            @include mixin.pc {
                display: flex;
                justify-content: center;
                text-align: center;
            }
            .p-main__feature-block {
                background-color: #FFFFFF;
                width: 86%;
                margin: 0 auto 70px;
                height: 355px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
                @include mixin.tab {
                    width: 60%;
                }
                @include mixin.pc {
                    width: 20%;
                    margin: 0;
                }
                .p-main__feature-block-title {
                    padding-top: 50px;
                    font-size: 18px;
                    @include mixin.pc {
                        margin-top: 50px;
                        padding-top: 0;
                    }
                }
                .p-main__feature-text {
                    line-height: 25px;
                    margin-top: 20px;
                    padding: 0 35px;
                    white-space: nowrap;
                    font-size: 15px;
                    @include mixin.pc {
                        font-size: 1vw;
                    }
                }
                img {
                    margin-top: 20px;
                }
            }
            .p-main__feature-block:nth-child(3) {
                margin-bottom: 0;
            }
            .p-main__feature-block-left {
                position: relative;
                .p-main__number-img {
                    background-image: url(/images/Vector.png);
                    position: absolute;
                    height: 72px;
                    width: 90px;
                    top: -22px;
                    left: -34px;
                    .p-main__number {
                        position: absolute;
                        top: 13px;
                        left: 22px;
                        font-size: 32px;
                        color: #FFFFFF;
                    }
                    .p-main__mark-other-1 {
                        position: absolute;
                        top: -37px;
                        left: -11px;
                        border: 1.5px;
                    }
                    .p-main__mark-other-2 {
                        position: absolute;
                        top: -40px;
                        left: 6px;
                        border: 1.5px;
                    }
                }
            }
            .p-main__feature-block-center {
                position: relative;
                @include mixin.pc {
                    margin: 0 105px;
                }
                .p-main__number-img {
                    background-image: url(/images/Vector.png);
                    position: absolute;
                    height: 72px;
                    width: 90px;
                    top: -22px;
                    left: -34px;
                    .p-main__number {
                        position: absolute;
                        top: 13px;
                        left: 22px;
                        font-size: 32px;
                        color: #FFFFFF;
                    }
                    .p-main__mark-other-1 {
                        position: absolute;
                        top: -37px;
                        left: -11px;
                        border: 1.5px;
                    }
                    .p-main__mark-other-2 {
                        position: absolute;
                        top: -40px;
                        left: 6px;
                        border: 1.5px;
                    }
                }
            }
            .p-main__feature-block-right {
                position: relative;
                .p-main__number-img {
                    background-image: url(/images/Vector.png);
                    position: absolute;
                    height: 72px;
                    width: 90px;
                    top: -22px;
                    left: -34px;
                    .p-main__number {
                        position: absolute;
                        top: 13px;
                        left: 22px;
                        font-size: 32px;
                        color: #FFFFFF;
                    }
                    .p-main__mark-other-1 {
                        position: absolute;
                        top: -37px;
                        left: -11px;
                        border: 1.5px;
                    }
                    .p-main__mark-other-2 {
                        position: absolute;
                        top: -40px;
                        left: 6px;
                        border: 1.5px;
                    }
                }
            }
        }
        .p-main__feature-btn {
            display: inline-block;
            height: 60px;
            width: 100%;
            font-size: 14px;
            background-color: #FFFFFF;
            border: 2px solid #51A8BB;
            box-sizing: border-box;
            box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            line-height: 60px;
            text-align: center;
            color: #51A8BB;
            margin-top: 60px;
            margin-bottom: 60px;
            position: relative;
            @include mixin.tab {
                width: 35%;
            }
            @include mixin.pc {
                margin-top: 55px;
                width: 27%;
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
}