@charset "UTF-8";
@use "../../foundation/mixin";
.p-main__feature {
    background-image: url(/images/背景.png);
    width: 100%;
    background-size: cover;
    @include mixin.pc {
        height: 817px;
    }
    &-sub {
        text-align: center;
        margin: 0 20px;
        @include mixin.pc {
            max-width: 1440px;
            margin: 0 auto;
            text-align: center;
        }
        .section-feature-title {
            font-size: 22px;
            padding-top: 75px;
            text-align: center;
            margin-bottom: 53px;
            @include mixin.pc {
                padding-top: 130px;
                margin-bottom: 62px;
                font-size: 27px;
            }
        }
        .p-main__feature-box {
            @include mixin.pc {
                display: flex;
                justify-content: center;
                text-align: center;
            }
            .p-main__feature-block {
                background-color: #FFFFFF;
                width: 86%;
                margin: 0 auto 70px;
                height: 355px;
                @include mixin.pc {
                    width: 20%;
                    margin: 0;
                }
                .p-main__feature-block-title {
                    padding-top: 50px;
                    font-size: 18px;
                    @include mixin.pc {
                        margin-top: 50px;
                        padding-top: 0;
                    }
                }
                .p-main__feature-text {
                    line-height: 25px;
                    margin-top: 20px;
                    padding: 0 35px;
                    white-space: nowrap;
                    font-size: 15px;
                    @include mixin.pc {
                        font-size: 1vw;
                    }
                }
                img {
                    margin-top: 20px;
                }
            }
            .p-main__feature-block:nth-child(3) {
                margin-bottom: 0;
            }
            .p-main__feature-block-left {
                position: relative;
                .p-main__number-img {
                    background-image: url(/images/Vector.png);
                    position: absolute;
                    height: 72px;
                    width: 90px;
                    top: -22px;
                    left: -34px;
                    .p-main__number {
                        position: absolute;
                        top: 13px;
                        left: 22px;
                        font-size: 32px;
                        color: #FFFFFF;
                    }
                    .p-main__mark-other-1 {
                        position: absolute;
                        top: -37px;
                        left: -11px;
                        border: 1.5px;
                    }
                    .p-main__mark-other-2 {
                        position: absolute;
                        top: -40px;
                        left: 6px;
                        border: 1.5px;
                    }
                }
            }
            .p-main__feature-block-center {
                position: relative;
                @include mixin.pc {
                    margin: 0 105px;
                }
                .p-main__number-img {
                    background-image: url(/images/Vector.png);
                    position: absolute;
                    height: 72px;
                    width: 90px;
                    top: -22px;
                    left: -34px;
                    .p-main__number {
                        position: absolute;
                        top: 13px;
                        left: 22px;
                        font-size: 32px;
                        color: #FFFFFF;
                    }
                    .p-main__mark-other-1 {
                        position: absolute;
                        top: -37px;
                        left: -11px;
                        border: 1.5px;
                    }
                    .p-main__mark-other-2 {
                        position: absolute;
                        top: -40px;
                        left: 6px;
                        border: 1.5px;
                    }
                }
            }
            .p-main__feature-block-right {
                position: relative;
                .p-main__number-img {
                    background-image: url(/images/Vector.png);
                    position: absolute;
                    height: 72px;
                    width: 90px;
                    top: -22px;
                    left: -34px;
                    .p-main__number {
                        position: absolute;
                        top: 13px;
                        left: 22px;
                        font-size: 32px;
                        color: #FFFFFF;
                    }
                    .p-main__mark-other-1 {
                        position: absolute;
                        top: -37px;
                        left: -11px;
                        border: 1.5px;
                    }
                    .p-main__mark-other-2 {
                        position: absolute;
                        top: -40px;
                        left: 6px;
                        border: 1.5px;
                    }
                }
            }
        }
        .p-main__feature-btn {
            display: inline-block;
            height: 60px;
            width: 100%;
            font-size: 14px;
            background-color: #FFFFFF;
            border: 2px solid #51A8BB;
            box-sizing: border-box;
            box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            line-height: 60px;
            text-align: center;
            color: #51A8BB;
            margin-top: 60px;
            margin-bottom: 60px;
            @include mixin.pc {
                margin-top: 55px;
                width: 27%;
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
}